name: Publish
on:
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        env:
          SKIP_SERVER_TASK: true
      - name: Build with Gradle Wrapper
        run: ./gradlew build
        env:
          SKIP_SERVER_TASK: true
      - name: Publish to Maven central
        run: |
          ./gradlew modolus-util:publishToMavenCentral
          ./gradlew modolus-annotations:publishToMavenCentral
          ./gradlew modolus-processor:publishToMavenCentral
          ./gradlew modolus-processor:publishToMavenCentral
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.MAVEN_CENTRAL_GPG_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.MAVEN_CENTRAL_GPG_PASSPHRASE }}
          SKIP_SERVER_TASK: true
